{% extends 'base_layout.html' %}

{% load static %}

{% block content %}
    <div class="page-header">
        <h2 class="page-header-title">Song Jukebox</h2>
    </div>
    <div class="page-content">
        <div class="jukebox">
            <div class="jukebox-item">
                <div class="jukebox-image">
                    <img src="{% static 'images/default.png' %}" alt="default artwork image of vinyl graphic">
                    <img src="{% static 'images/default.png' %}" alt="default artwork image of vinyl graphic">
                    <img src="{% static 'images/default.png' %}" alt="default artwork image of vinyl graphic">
                    <img src="{% static 'images/default.png' %}" alt="default artwork image of vinyl graphic">
                </div>
            </div>
            <div class="jukebox-item">
                <div class="jukebox-songs">
                    {% for song in songs %}
                    <div class="jukebox-song">
                        <a href="{% url 'songs:detail' slug=song.slug %}">
                            <h3>{{ song.title }}</h3>
                            <p>Artist: {{ song.artist }}</p> 
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}