{% extends 'base_layout.html' %}

{% load static %}

{% block content %}
    <div class="page-header">
        <h2 class="page-header-title">Song Selection</h2>
        <button class="page-header-item">
            <a href="{% url 'songs:add' %}">Add Song</a>
        </button>
    </div>
    <div class="jukebox">
        <div class="jukebox-item">
            <div class="jukebox-image">
                <img src="{% static 'images/default.png' %}" alt="default artwork image of vinyl graphic">
                <img src="{% static 'images/default.png' %}" alt="default artwork image of vinyl graphic">
                <img src="{% static 'images/default.png' %}" alt="default artwork image of vinyl graphic">
                <img src="{% static 'images/default.png' %}" alt="default artwork image of vinyl graphic">
            </div>
        </div>
            {% for song in songs %}
        <div class="jukebox-item">
            <a class="jukebox-song" href="{% url 'songs:detail' slug=song.slug %}">
                <h3>{{ song.title }}</h3>
                <p>Artist: {{ song.artist }}</p> 
            </a>
        </div>
        {% endfor %}
    </div>
{% endblock %}