{% extends 'base_layout.html' %}

{% block content %}
    <h2>Song List</h2>
    <div class="button">
        <button>
            <a href="{% url 'songs:add' %}">Add Song</a>
        </button>
    </div>
    <div class="songs">
        {% for song in songs %}
        <div class="song">
            <h3>
                <a href="{% url 'songs:detail' slug=song.slug %}">{{ song.title }}</a>
            </h3>
            <p>Artist: {{ song.artist }}</p>
            <p>Album: {{ song.album }}</p>
            <p class="author">Added By: {{ song.author.username }}</p>
        </div>
        {% endfor %}
    </div>
{% endblock %}