{% extends 'base_layout.html' %}

{% load static %}

{% block content %}
    <section class="wrapper">
        <div class="page-header">
            <h2 class="page-header-title">Songs</h2>
            <button class="page-header-item">
                <a href="{% url 'songs:add' %}">Add Song</a>
            </button>
        </div>
        <div class="song-list">
            <h3 class="song-list-title">
                <span>By Title</span>
            </h3>
            <h3 class="song-list-title">
                <span>By Artist</span>
            </h3>
            <h3 class="song-list-title">
                <span>By Album</span>
            </h3>
            {% for song in songs %}
                <div class="song-list-item">
                    <a href="{% url 'songs:detail' slug=song.slug %}">
                        {{ song.title }}
                    </a>
                </div>
                <div class="song-list-item">
                    <a href="{% url 'songs:detail' slug=song.slug %}">
                        {{ song.artist }}
                    </a>
                </div>
                <div class="song-list-item">
                    <a href="{% url 'songs:detail' slug=song.slug %}">
                        {{ song.album }}
                    </a>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}