{% extends 'base_layout.html' %}

{% load static %}

{% block content %}
    <section class="wrapper">
        <div class="page-header">
            <h2 class="page-header-title">My Songs</h2>
            <button class="page-header-item">
                <a href="{% url 'songs:add' %}">Add Song</a>
            </button>
        </div>
        {% if user_songs %}
            <div class="songs">
                {% for user_song in user_songs %}
                <div class="song">
                    <div class="song-card">
                        <a href="{% url 'songs:detail' slug=user_song.slug %}">
                            <h3>{{ user_song.title }}</h3>
                            <p>Artist: {{ user_song.artist }}</p>
                            <p>Album: {{ user_song.album }}</p>
                            <p>Added By: {{ user_song.author.username }}</p>
                        </a>
                        <p>
                            <button class="song-buttons">
                                <a href="{% url 'songs:edit' slug=user_song.slug %}">Edit Song</a>
                            </button>
                            <button class="song-buttons">
                                <a href="{% url 'songs:delete' slug=user_song.slug %}">Delete Song</a>
                            </button>
                        </p>
                    </div>
                </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="alert">
                <p>You haven't added any songs yet.</p>
            </div>
        {% endif %}
    </section>
{% endblock %}