/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Kalam&family=Righteous&display=swap');

/* full site styles */
* {
    margin: 0;
    padding: 0;
}

body * {
    font-family: 'Kalam', sans-serif;
    font-size: 20px;
    color: black;
}

body {
    min-height: 100vh;
    min-width: 100vw;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

h1,
h2, 
h3, 
h4 {
    font-family: 'Righteous', sans-serif;
}

a {
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: none;
}

.wrapper {
    margin: 0 auto;
    padding: 20px 0px;
    width: 98vw;
    grid-row-start: 2;
    grid-row-end: 3;
}

/* header */
header {
    min-height: 50px;
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: #34afa5;
}

.header-item {
    padding: 20px;
}

header h1 {
    font-size: 2.4em;
}

header h1 i {
    font-size: 0.9em;
}

nav {
    justify-self: end;
    align-self: center;
    display: grid;
}

nav li {
    display: inline-block;
    list-style-type: none;
    margin-left: 20px;
    font-size: 1.4em;
}

nav button {
    background: none;
    cursor: pointer;
    border: 3px solid;
    border-radius: 25px;
    font-size: 1em;
}

nav button:hover {
    color: white;
}

/* main pages */
button {
    border: solid #34afa5;;
    border-radius: 25px;
    padding: 5px;
    background-color: #34afa5;
}

.button {
    border: solid #34afa5;;
    border-radius: 25px;
    padding: 5px;
    background-color: #34afa5;
    cursor: pointer;
}

.button:hover {
    color: white;
}

input {
    padding: 2px;
    border: solid 3px #34afa5;
    border-radius: 5px;
}

.site-form {
    display: grid;
    grid-template-rows: auto;
    justify-items: start;
    margin: -20px 0px 0px;
}

.site-form .button,
.site-form label {
    margin: 20px 0px 0px;
}

.site-form br {
    display: none;
}

.site-form span,
.site-form li {
    font-size: 1rem;
}

.site-form ul {
    margin: 0px 0px 0px 20px;
}

.page-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0px 0px 20px;
}

.page-header-title {
    font-size: 180%;
}

.page-header-item {
    justify-self: end;
    display: grid;
}

.songs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.song {
    padding: 20px;
    border: solid 4px #34afa5;
    border-radius: 5px;
    min-height: 300px;
    min-width: 300px;
}

.song img {
    min-height: 100px;
    min-width: 100px;
}

.song:hover {
    border: solid 4px black;
}

.song-detail {
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 100vh;
}

.song-overview,
.song-lyrics {
    padding: 20px;
}

.song-overview {
    border: solid 4px #34afa5;
    border-radius: 5px 0px 0px 5px;
}

.song-lyrics {
    background: #34afa5;
    border-radius: 0px 5px 5px 0px;
}

/* footer */
footer {
    min-height: 50px;
    width: 100%;
    background-color: #34afa5;
    grid-row-start: 3;
    grid-row-end: 4;
}

footer ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

footer li {
    list-style-type: none;
}