/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Kalam&family=Righteous&display=swap');

/* full site styles */
* {
    margin: 0;
    padding: 0;
}

body * {
    font-family: 'Kalam', sans-serif;
    color: black;
}

h1,
h2, 
h3, 
h4 {
    font-family: 'Righteous', sans-serif;
}

a {
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: none;
}

.wrapper {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
}

/* header */
header {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 20px 0;
    background-color: #34afa5;
}

header h1 {
    font-size: 2.4em;
}

nav {
    justify-self: end;
}

nav li {
    display: inline-block;
    list-style-type: none;
    margin-left: 20px;
    font-size: 1.4em;
}

nav button {
    background: none;
    cursor: pointer;
    border: 2px solid;
    border-radius: 25px;
    font-size: 1em;
}