{% extends 'base_layout.html' %}

{% block content %}
    <section class="wrapper">
        <div class="page-header">
            <h2 class="page-header-title">Your Account</h2>
        </div>
        <div>
            <p>Welcome, {{ user }}!</p>
        </div>
    </section>
    <section class="message-wrapper">
        {% if messages %}
            <ul class="alert">
            {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
                    {{ message }}
                </li>
            {% endfor %}
            </ul>
        {% endif %}
    </section>
{% endblock %}
