{% extends 'base_layout.html' %}

{% load static %}

{% block content %}
    <section class="hero-page-wrapper">
        <div class="hero-image-container">
            <div class="hero-image-content">
                <div class="page-header">
                    <h2 class="page-header-title">Signup</h2>
                </div>
                <div class="page-content">
                    <form class="site-form" action="{% url 'accounts:signup' %}" method="post">
                        {% csrf_token %}
                        <table>
                        {{ form }}
                        </table>
                        <input class="button" type="submit" value="Signup">
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}