{% extends 'base_layout.html' %}

{% load static %}

{% block content %}
    <!-- large screen version -->
    <section class="hero-page-wrapper">
        <div class="hero-image-container">
            <div class="hero-image-content">
                <div class="page-header">
                    <h2 class="page-header-title">About Anthemology</h2>
                </div>
                <div class="page-content">
                    <ul>
                        <li>Anthemology was created for all music lovers out there!</li>
                        <li>Want to sing along to your favourite tune?</li>
                        <li>Take a look at our expansive catalogue of songs, either via the search bar, or the Songs page.</li>
                        <li>Can't find the song you're looking for?</li>
                        <li>Sign up and add it to the collection!</li>
                        <li>You can find your songs on the My Songs page.</li>
                        <li>Here you can edit, or delete your contributions at any time.</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- small screen version -->
    <!-- <section class="responsive-wrapper">
        <div class="page-header">
            <h2 class="page-header-title">About Anthemology</h2>
        </div>
        <div class="page-content">
            <ul>
                <li>Anthemology was created for all music lovers out there!</li>
                <li>Want to sing along to your favourite tune?</li>
                <li>Take a look at our expansive catalogue of songs, either via the search bar, or the Songs page.</li>
                <li>Can't find the song you're looking for?</li>
                <li>Sign up and add it to the collection!</li>
                <li>You can find your songs on the My Songs page.</li>
                <li>Here you can edit, or delete your contributions at any time.</li>
            </ul>
        </div>
    </section> -->
{% endblock %}