{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anthemology</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <header class="wrapper">
        <h1>Anthemology
            <a href="{% url 'home' %}">
                <img src="" alt="anthemology logo">
            </a>
        </h1>
        <nav>
            <ul>
                <li>
                    <a href="{% url 'songs:song_list' %}">Songs</a>
                </li>
                <li>
                    <a href="{% url 'about' %}">About</a>
                </li>
            </ul>
                <li>
                    <a href="{% url 'accounts:profile_view' %}">Account</a>
                </li>
        </nav>
    </header>
    <main class="wrapper">
        {% block content %}
        {% endblock %}
    </main>
    <footer class="wrapper">
        Footer boiler text
    </footer>
</body>
</html>