{% extends 'base_layout.html' %}

{% load static %}

{% block content %}
    <div class="homepage-wrapper">
        <div class="homepage-image-container">
            <div class="homepage-image-content">
                <form class="homepage-search-bar" method="post" action="{% url 'song_search' %}">
                    {% csrf_token %}
                    <input type="search" placeholder="Search Songs" name="searched" aria-label="Song Search Bar" required>
                    <button type="submit">Search</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}