{% extends 'base_layout.html' %}

{% block content %}
    <div class="page-header">
        <h2 class="page-header-title">Your Search Results</h2>
    </div>
    <div class="page-content">
        {% if searched %}
            <div class="songs">
                {% for song in songs %}
                    <div class="song">
                        <a class="song-card" href="{% url 'songs:detail' slug=song.slug %}">
                            <h3>{{ song.title }}</h3>
                            <p>Artist: {{ song.artist }}</p>
                            <p>Album: {{ song.album }}</p>
                        </a>
                    </div>
                {% endfor %}
            </div>
        {% else %}
        <div class="alert">
            <p>The song you searched doesn't exist.</p>
        </div>
        {% endif %}
    </div>
{% endblock %}